* {
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

/* --------- Home component ---------- */
#home-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 714px;
  background: linear-gradient(82.02deg, rgba(253, 192, 183, 0.8) 0.98%, rgba(210, 204, 255, 0.8) 50.91%, rgba(107, 180, 253, 0.8) 100%);
}

.home-info-wrapper {
  width: 1280px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 587px;
  height: 304px;
  left: 320px;
}

.home-heading {
  width: 511px;
  height: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #000000;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.info-col p {
  width: 587px;
  height: 72px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0;
}



@media (max-width: 480px) {
  #home-component {
    width: 100%;
    max-width: 100%;
    height: 850px;
    background: linear-gradient(202.03deg, rgba(253, 192, 183, 0.8) 26.85%, rgba(210, 204, 255, 0.8) 57.21%, rgba(107, 180, 253, 0.8) 87.06%);
  }

  .home-info-wrapper {
    flex-direction: column;
    width: 432px;
    height: 716.9px;
  }

  .info-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 432px;
  }

  .home-img-wrapper img {
    width: 430px;
    max-width: 100%;
    height: 320px;
  }

  .home-heading {
    max-width: 100%;
    text-align: center;
  }

  .info-col p {
    max-width: 100%;
    width: 430px;
    height: 96px;
  }
}




/* --------- ButtonCta component ---------- */
#button-component {
  box-sizing: border-box;
  padding: 24px 32px;
  width: 207px;
  height: 72px;
  background: #00BAFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}



/* --------- Services component ---------- */
#services-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  justify-content: center;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 164px;
  width: 1280px;
}

.services-header {
  text-align: center;
}

.services-header h3 {
  font-size: 38px;
  line-height: 42px;
  margin: 0;
}

.services-header p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 671px;
  height: 48px;
}

.services-content {
  width: 1280px;
  height: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.services-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  text-align: center;
  width: 250.2px;
}

.services-box-header img {
  width: 63.67px;
  height: 58.97px;
}

.services-box-header h3 {
  width: 140px;
  height: 56px;
}

.symbol-container img {
  width: 25px;
  height: 25px;
}

.services-box-content {
  width: 250px;
  height: 72px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


@media (max-width: 480px) {
  .services-wrapper {
    width: 430px;
    justify-content: flex-end;
  }

  .services-header p {
    width: 430px;
    height: 96px;
  }

  .services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 250.2px;
    height: 1244px;
  }
}



/* --------- Work component ---------- */
#work-component {
  position: relative;
  margin-top: 98px;
}

.work-wrapper {
  width: 1280px;
  height: 1326px;
  margin-top: 98px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 64px;
}

.work-content {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.work-header {
  background-color: #000000;
  width: 671px;
  height: 122px;
}

.work-upper-half-content,
.work-bottom-half-content {
  width: 1280px;
  height: 570px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-upper-half-content {
  flex-direction: row;
}

.work-bottom-half-content {
  flex-direction: row-reverse;
}

.work-text-parag {
  width: 521.63px;
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.firstPart {
  align-items: end;
  text-align: end;
}

.secondPart {
  align-items: start;
  text-align: start;
}

.work-text-parag h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 42px;
  margin: 0;
  text-align: right;
  color: #000000;
}

.work-text-parag h3::after {
  content: '';
  position: absolute;
  width: 330px;
  height: 2px;
  top: 58px;
  z-index: 5;
  background-color: #00BAFF;
}

.firstPart h3::after {
  right: 0;
}

.secondPart h3::after {
  left: 0;
}


@media (max-width: 480px) {
  .work-wrapper {
    height: auto;
    width: 443px;
  }

  .work-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .work-header {
    width: 443px;
    height: 170px;
  }

  .work-upper-half-content,
  .work-bottom-half-content {
    width: 100%;
    height: 706.17px;
    flex-direction: column-reverse;
  }

  .work-text-parag {
    text-align: start;
    width: auto;
    align-items: start;
  }

  .work-img-wrapper img {
    width: 100%;
  }

  .firstPart h3::after {
    left: 0;
  }
}