* {
  box-sizing: border-box;
}

.main {
  background: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

/* --------- Home component ---------- */
#home-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 714px;
  background: linear-gradient(82.02deg, rgba(253, 192, 183, 0.8) 0.98%, rgba(210, 204, 255, 0.8) 50.91%, rgba(107, 180, 253, 0.8) 100%);
}

.home-info-wrapper {
  width: 1280px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 587px;
  height: 304px;
  left: 320px;
}

.home-heading {
  width: 511px;
  height: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #000000;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.info-col p {
  width: 587px;
  height: 72px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0;
}



@media (max-width: 480px) {
  #home-component {
    width: 100%;
    max-width: 100%;
    height: 850px;
    background: linear-gradient(202.03deg, rgba(253, 192, 183, 0.8) 26.85%, rgba(210, 204, 255, 0.8) 57.21%, rgba(107, 180, 253, 0.8) 87.06%);
  }

  .home-info-wrapper {
    flex-direction: column;
    width: 432px;
    height: 716.9px;
  }

  .info-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 432px;
  }

  .home-img-wrapper img {
    width: 430px;
    max-width: 100%;
    height: 320px;
  }

  .home-heading {
    max-width: 100%;
    text-align: center;
  }

  .info-col p {
    max-width: 100%;
    width: 430px;
    height: 96px;
  }
}




/* --------- ButtonCta component ---------- */
#button-component {
  box-sizing: border-box;
  padding: 24px 32px;
  width: 207px;
  height: 72px;
  background: #00BAFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}



/* --------- Services component ---------- */
#services-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  justify-content: center;
  gap: 64px;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 64px;
  width: 1280px;
}

.section-header {
  text-align: center;
}

.section-header h3 {
  font-size: 38px;
  line-height: 42px;
  margin: 0;
}

.section-header p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 671px;
  height: 48px;
}

.services-content {
  width: 1280px;
  height: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.services-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  text-align: center;
  width: 250.2px;
  height: 269px;
}

.services-box-header img {
  width: 63.67px;
  height: 58.97px;
}

.services-box-header h3 {
  width: 140px;
  height: 56px;
}

.symbol-container img {
  width: 25px;
  height: 25px;
}

.services-box-content {
  width: 250px;
  height: 72px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


@media (max-width: 480px) {
  .services-wrapper {
    width: 430px;
    justify-content: flex-end;
  }

  .section-header p {
    width: 430px;
    height: 96px;
  }

  .services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    /* gap: 64px; */
    width: 250.2px;
    height: 1244px;
  }
}



/* --------- Work component ---------- */
#work-component {
  position: relative;
  margin-top: 98px;
}

.frame-wrapper {
  width: 1280px;
  height: auto;
  margin-top: 98px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 64px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.work-header {
  background-color: #000000;
  width: 671px;
  height: 122px;
}

.upper-half-content,
.bottom-half-content {
  width: 1280px;
  height: 570px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-half-content {
  flex-direction: row;
}

.bottom-half-content {
  flex-direction: row-reverse;
}

.work-text-parag {
  width: 520px;
  height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.firstPart {
  align-items: end;
  text-align: end;
}

.secondPart {
  align-items: start;
  text-align: start;
}

.work-text-parag h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 42px;
  margin: 0;
  text-align: right;
  color: #000000;
}

.work-text-parag h3::after {
  content: '';
  position: absolute;
  width: 330px;
  height: 2px;
  top: 58px;
  z-index: 5;
  background-color: #00BAFF;
}

.firstPart h3::after {
  right: 0;
}

.secondPart h3::after {
  left: 0;
}


@media (max-width: 480px) {
  .frame-wrapper {
    height: auto;
    width: 443px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .work-header {
    width: 443px;
    height: 170px;
  }

  .upper-half-content,
  .bottom-half-content {
    width: 100%;
    height: 706.17px;
    flex-direction: column-reverse;
  }

  .work-text-parag {
    text-align: start;
    width: auto;
    align-items: start;
  }

  .img-wrapper img {
    width: 100%;
  }

  .firstPart h3::after {
    left: 0;
  }
}



/* --------- AgencyServices component ---------- */
#agencyServices-component {
  position: relative;
  margin-top: 98px;
}

.half-content {
  width: 1124px;
  height: 416px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.all-accordion-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.accordion-container label {
  padding: 12px 25px 12px 25px;
  position: relative;
  z-index: 3;
  display: block;
  cursor: pointer;
  color: rgb(19, 19, 19);
  line-height: 33px;
  font-size: 16px;
  font-weight: 600;
  border-top: 1px solid #d4d4d4;
}

.accordion-container label:hover {
  color: #1C73A8;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}

.accordion-container input:checked~label {
  background-color: #EDEDED;
}

.accordion-container label:hover:after,
.accordion-container input:checked+label:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  right: 13px;
  top: 7px;
}


.accordion-container input {
  display: none;
}

.accordion-container section {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 2;
}

.accordion-container input:checked~section.accordion {
  height: auto;
  background-color: #EDEDED;
  padding: 10px 25px;
  overflow-y: hidden;
  transition: unset 0.9s ease-in;
  -webkit-transition: unset 0.9s ease-in;
  -moz-transition: unset 0.9s ease-in;
  -ms-transition: unset 0.9s ease-in;
  -o-transition: unset 0.9s ease-in;
}

.accordion-content {
  color: rgb(19, 19, 19);
  font-size: 14px;
  line-height: 1.5;
}

.arrow-icon {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 32px;
  height: 32px;
}

.accordion-img-wrapper {
  position: absolute;
  right: 0;
  top: -19px;
}

.services-parag {
  width: 443px;
  height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 480px) {

  .half-content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .all-accordion-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .accordion-container {
    width: auto;
  }

  .accordion-container input:checked~section.accordion {
    height: auto;
    padding: 25px;
    overflow-y: hidden;
  }

  .accordion-img-wrapper {
    position: static;
  }
}